body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.main {
    padding: 50px;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

html {
    height: 100%;
}

/** column layout **/
.first-column {
    width: 60%;
    padding: 0 10px 0 0;
    float: left;
}

.second-column {
    width: 40%;
    padding: 0 10px 0 0;
    float: right;
}

.event-box i {
    display:inline-block;
}


selected option:disabled {
    color: gray
}

.my-event {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: grey;
    padding: 10px;
    /* padding-bottom: 10px; */
}

/*** event cards ***/
.event-box {
    border: darkgray solid 1px;
    padding: 1rem;
    width: 340px;
    height: 25rem;
    display: inline-grid;
    margin: 1rem;
    /* box-shadow: 3px 4px #e04b52 */
    border-radius: 10px;
}

.event-title-container {
    padding: 0px;
    height: 0px;
}

.event-title-container h3 {
    display: inline-block;
}


/** icons **/

i {
    /* float: right; */
    display: inline-block;
}

i:hover {
    color: #47B2D3;
}

.block {
    display: inline-flex;
}

.block input[type=text], .block input[type=email], .block select {
    background:whitesmoke;
    border: none;
    /* padding: 10px 15px; */
    /* margin: 8px 0; */
    /* width: 100%; */
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
}


/***** Modals *****/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30em;
    text-align: left;
    display: inline-grid;
}

.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    /* color: rgb(161, 155, 155); */
    color: #47B2D3;
    text-decoration: none;
    cursor: pointer;
}


/*** overlay transition ***/
* {
    box-sizing: border-box;
}

span {
    font-size: 12px;
}

a {
    color: purple;
}

.pills {
    padding: 30px;
}

.container h1, .container h2, .container h3 {
    text-align: center;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    text-align: center;
    /* top: 20%; */
    /* left: 20%; */
    /* margin: 0; */
}



.form-container form {
    background: white;
    /* display: flex; */
    flex-direction: column;
    padding: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input[type=text], .form-container input[type=email], .form-container select {
    background:whitesmoke;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#edit-student-form {
    display: inline-grid;
    /* float: left; */
    text-align: left;
}

/* input[type=text], input[type=email], select {
    background:whitesmoke;
    border: none;
    display: inline-block;
    /* padding: 10px 15px; */
    /* margin: 8px 0; */
    /* width: 100%; */
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
} */

.button {
    border-radius: 20px;
    border: salmon;
    background: salmon;
    color: white;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button:hover{
    background:silver
}

.button:active{
    transform: scale(0.95)
}

.button:focus {
    outline:none;
}

.button.ghost {
    background: transparent;
    border-color: white;
    border: 0.5px solid;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    text-align: center;
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
    position: absolute;
}

.signup-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1; 
    position: absolute;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: linear-gradient(to right, #47B2D3, #fbd786, #f7797d) no-repeat 0 0 / cover;
    /* background: linear-gradient(to right, #E55D87, #5FC3E4) no-repeat 0 0 / cover; */
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

/*** animations ***/
.container.right-panel-active .login-container {
    transform: translateX(100%);
    opacity: 0;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .signup-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0)
}

.container.right-panel-active .overlay-right {
    transform: translateX(20)
}


/* navigation bar */

.nav {
    overflow: hidden;
    box-shadow:0 0 10px 3px rgba(0,0,0,.1);
}

.nav h2, .nav input {
    display: inline-block;
    float: left;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    /* font-size: 16px; */
}

.user-menu {
    float: right;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}

.user-option {
    display: inline-block;
}

.show {
    display: block;
}  


