body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

html {
    height: 100%;
}

h2 {
    padding: none;
}

/* .fa {
    display: inline-block;
} */

.event-box i {
    display:inline-block;
}


selected option:disabled {
    color: gray
}


/*** event cards ***/
.event-box {
    border: grey solid 1px;
    padding: 1rem;
    width: auto;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    /* box-shadow: 3px 4px #e04b52 */
    border-radius: 10px;
}

.event-title-container {
    padding: 0px;
    height: 0px;
}

.event-title-container h3 {
    display: inline-block;
}

.event-title-container i {
    display: inline-block;
    color: #47B2D3;
}


/*** Modals (not done) */
/* .modal{
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.5);
}

.modal-content{
    background-color:lightgray;
    margin:20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17)
} */

/*** overlay transition ***/
* {
    box-sizing: border-box;
}

span {
    font-size: 12px;
}

a {
    color: purple;
}

.pills {
    padding: 30px;
}

.container h1, .container h2, .container h3 {
    text-align: center;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    text-align: center;
    /* top: 20%; */
    /* left: 20%; */
    /* margin: 0; */
}



.form-container form {
    background: white;
    /* display: flex; */
    flex-direction: column;
    padding: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.form-container input[type=text], .form-container input[type=email], .form-container select {
    background:whitesmoke;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button {
    border-radius: 20px;
    border: salmon;
    background: salmon;
    color: white;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button:hover{
    background:silver
}

.button:active{
    transform: scale(0.95)
}

.button:focus {
    outline:none;
}

.button.ghost {
    background: transparent;
    border-color: white;
    border: 0.5px solid;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    text-align: center;
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
    position: absolute;
}

.signup-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1; 
    position: absolute;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: linear-gradient(to right, #47B2D3, #fbd786, #f7797d) no-repeat 0 0 / cover;
    /* background: linear-gradient(to right, #E55D87, #5FC3E4) no-repeat 0 0 / cover; */
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

/*** animations ***/
.container.right-panel-active .login-container {
    transform: translateX(100%);
    opacity: 0;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .signup-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0)
}

.container.right-panel-active .overlay-right {
    transform: translateX(20)
}

/* navigation bar */
.nav {
    overflow: hidden;
    box-shadow:0 0 10px 3px rgba(0,0,0,.1);
    margin: 0px;
}

.nav.student{
    background-color: lightblue;
    /* body-shadow: 0 0 0 2px; */
}

.nav.org {
    background-color: #47B2D3
}

.nav.student h2 {
    float: left;
    /* display: inline-block; */
}

.dropdown {
    float: right;
    overflow: hidden;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    /* text-decoration: none; */
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown p:hover, .dropdown:hover .dropbtn {
    background-color: #71A9D8;
}

.dropdown:hover .dropdown-content {
    display: block;
}  


