/*** overlay transition ***/
* {
    box-sizing: border-box;
}

span {
    font-size: 12px;
}

a {
    color: purple;
}

.pills {
    padding: 30px;
}

.container h1, .container h2, .container h3 {
    text-align: center;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    text-align: center;
    /* top: 20%; */
    /* left: 20%; */
    /* margin: 0; */
}



.form-container form {
    background: white;
    /* display: flex; */
    flex-direction: column;
    padding: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input[type=text], .form-container input[type=email], .form-container input[type=password], .form-container select {
    background:whitesmoke;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#edit-student-form {
    display: inline-grid;
    /* float: left; */
    text-align: left;
}

.button {
    border-radius: 20px;
    border: salmon;
    background: salmon;
    color: white;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button:hover{
    background:silver
}

.button:active{
    transform: scale(0.95)
}

.button:focus {
    outline:none;
}

.button.ghost {
    background: transparent;
    /* border-color: white; */
    border: 0.5px solid white;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    text-align: center;
}

.login-container {
    left: 0;
    width: 50%;
    z-index: 2;
    position: absolute;
}

.signup-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1; 
    position: absolute;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay {
    background: #ff416c;
    background: linear-gradient(to right, #47B2D3, #fbd786, #f7797d) no-repeat 0 0 / cover;
    /* background: linear-gradient(to right, #E55D87, #5FC3E4) no-repeat 0 0 / cover; */
    color: white;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-left {
    transform: translateX(-20%);
}

/*** animations ***/
.container.right-panel-active .login-container {
    transform: translateX(100%);
    opacity: 0;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.container.right-panel-active .signup-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0)
}

.container.right-panel-active .overlay-right {
    transform: translateX(20)
}